body {background-color: rgb(243, 92, 4);}
h1{font-size: 80px; color: rgb(227, 252, 2);}
#banner {width:300px;}
p{background: #2a0394; padding: 30px;}
p {text-align: center; color: rgb(4, 250, 209);}
#missao {font-size: color rgb(214, 9, 9) 50px}
em strong {color: #03023a3a;}
.itens {font-style: italic; color: black;}
.beneficios {background: #342d2d; padding: 20px;}
ul {display: inline-block; vertical-align: top; width: 100px; margin-right: 70px;}
.berimbal {width: 400px; size: 100px;}